.wrap{
    width: 100%;
}
.wrap-logo{
    width: 100%;
    height: 62px;
}

.logo-Left{
    position: absolute;
    top: 0;
    left: 0;
    width: 107px;
    height: 62px;

    display: flex;
    align-items: center;
    z-index: 3;
}

.logo-Left a{
    display: flex;
    padding: 23px 23px 21px ;
    color: #17191d;
}

.menuButton:hover{
    color: #07f;
    transition: all .15s linear;
}

.menuButton:hover .menuIcon{ 
    background-color: #07f;
    transition: all .15s linear;
}

.menuIcon{
    width: 18px;
    height: 16px;

    margin:1px 11px 0 0;
    display: block;
    background: transparent url(/images/set_gnb.png);
    background-color: black;
}

.logo-center{
    width: 100%;
    text-align: center;
}

.logo-right{
    position: absolute;
    top: 0px;
    right: 0px;

    width: 261px;
    height: 62px;
    background-color: red   ;
}

.card{
    padding: 10px 15px 0px;     
    line-height: 72px;  
    background: transparent url(/images/set_gnb_icon.png);
    background-color: #17191d;
}

.gnbCard:hover .card{
    background-color: #07f;
    transition: all .15s linear;

}

.gnbCard:hover .hiddenName{
    display: block;
    transition: all .15s linear;
}

.hiddenName{
    display: none;
    position: absolute;
    top: 42px;
    font-size: 11px; 
    left: -11px;
    color: white;
    padding: 1px 5px;
    border-radius: 15px;
    font-weight: 700;
    background-color: #17191d;
}

.wrap-nav{
    height: 100px;

    background-color: aquamarine;
}
.main-swiper{
    height: 620px;

    background-color: beige;
}