body{
    font-family: 맑은 고딕;
    font-size: 14px;
    color: #141432;
    letter-spacing: -1px;
}
img{
    border: 0px;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
*{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
