.wrap{
    width: 100%;
}
.wrap-logo{
    width: 100%;
    height: 63px;
    border-bottom: 1px solid #b4b8c0;
}

.logo-Left{
    position: absolute;
    top: 0;
    left: 0;
    width: 107px;
    height: 62px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo-Left a{
    display: flex;
    padding: 23px 23px 21px ;
    color: #17191d;
}

.menuButton:hover{
    color: #07f;
    transition: all .15s linear;
}

.menuButton:hover .menuIcon{ 
    background-color: #07f;
    transition: all .15s linear;
}

.menuIcon{
    width: 18px;
    height: 16px;
    margin:1px 11px 0 0;
    display: block;
    background: transparent url(/images/set_gnb.png);
    background-color: black;
}
.logo-center{
    width: 100%;
    height: 62px;
    text-align: center;
}

.logo-right{
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 281px;
    height: 62px;
}
.gnbIcon,.gnbPcbangOff{
    margin-left: 12px;
    padding: 10px 15px 0px ;
    line-height: 77px;
    background: transparent url(/images/set_gnb_icon.png);
    background-color: #17191d;
}

.wrap-logo a{
    transition: all .15s linear;
}

.gnbPcbang .gnbIcon{
    padding: 60px 15px 0px ;
}
.gnbPcbang .hiddenName{
    left: 57px;
}
.gnbJoin:hover a{
    color: #07f;
}
.gnbCard:hover .card{
    background-color: #07f;
}

.gnbCard:hover .hiddenName{
    visibility: visible;
}

.gnbPcbang:hover .hiddenName{
    visibility: visible;
}

.hiddenName {
    visibility: hidden;
    position: absolute;
    top: 45px;
    left: -11px;
    font-size: 11px; 
    color:hsla(0,0%,100%,.9) ;
    padding: 1px 5px;
    letter-spacing: -.28px;
    transition: all .2s linear;
    border-radius: 15px;
    font-weight: 700;
    background-color: #17191d;
    opacity: 1;
}

.gnbPcbangOff {
    width: 20px;
    background-position:-50px -300px ;
    position: absolute;
    top: 18px;
    left: 57px;
    height: 14px;
    display: block;
    background-color: white;
}


.Badge{
    position: absolute;
    top: 18px;
    left: 24px;
    display: block;
    min-width: 14px;
    height: 14px;
    color: #fff;
    padding: 0 3px 0 4px;
    text-align: center;
    font-size: 10px;
    border-radius: 7px;
    background-color: #07f;
    white-space: nowrap ;
}

.logo-right >div > a{
    height: 62px;
    padding: 24px 3px 0;
    color: #17191d;
    font-size: 14px;
}
.gnbJoin , .gnbLogin{
    margin-left: 12px;
}

.gnbJoin a{
    line-height: 63px;
    font-weight: 700;
}

.wrap-logo .gnbLogin{
    display: flex;
    align-items: center;
}

.wrap-logo .gnbLogin a{
    min-width: 85px;
    height: 36px;
    padding: 7px 18px 0;
    text-align: center;
    font-size: 15px;
    border-radius: 19px;
    border: 2px solid #17191d;
}

.wrap-logo .gnbLogin a:hover{
    color: #fff;
    background-color: #07f;
    border-color: #07f;
}

.gnbAllLayer{
    background-color: #fff;
    display: none;
    position: fixed;
    margin-top: -62px;
    width: 440px;
    padding: 62px 0 195px;
    opacity: 1;
    height: 100%;
    transition: all .5s cubic-bezier(.23,1,.32,1);
    z-index: 9999;
}

.wrap-logo .gnbDimmedLayer{
    opacity: 7;
    transition: all .5s cubic-bezier(.23,1,.32,1);
}

.gnbAllLayer .gnbIcon{
    width: 18px;
    height: 18px;
    position: absolute;
    top:20px;
    left: 10px;
    background: transparent url(/images/set_gnb.png) 0 0 no-repeat;
    background-position: 0px -50px;
    background-color: black;
}

.gnbLayerBt a{
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.gnbLayerBt:hover a .gnbIcon{
    background-color: #07f;
    transition: all .15s linear;
}


.gnbScroll{
    height: 100%;
    border-top: 1px solid #dde1e5;
    border-bottom: 1px solid #dde1e5;
}


.gnbScrollContent{
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.gnbScrollContent::-webkit-scrollbar{
    width: 6px;
}

.gnbScrollContent::-webkit-scrollbar-thumb{
    background:#dde1e5;
    border-radius: 25px;
}

.gnbGameTab{
    height: 75px;
    padding-top: 27px;
}

.gnbGameTab ul{
    display: inline-block;
    width: 318px;
    padding: 9px 0 0 42px;
}
.gnbBtPc a{
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 3px;
    border-bottom: 2px solid #17191d;
}

.gnbGameTab >a{
    display: inline-block;
    padding-top: 6px;
    width: 80px;
    height: 32px;
    zoom: 1;
    font-size: 12px;
    color: #9fa1a7;
    text-align: center;
    font-weight: 700;
    border: 2px solid #9fa1a7;
}

.gnbGameTab >a:hover{
    color:#fff;
    background-color: #9fa1a7;
}

.gnbList{
    padding: 75px 0 50px 42px;
    margin-top: -75px;
}
.gnbList .gnbCell{
    display: inline-block;
    width: 188px;
}

.gnbList h3{
    height: 50px;
    padding-top: 24px;
    font-size: 12px;
    color: #17191d;
}

.gnbList li {
    padding-bottom: 8px;
}

.gnbList li a{
    font-size: 12px;
    color: #737881;
}

.gnbList li a:hover{
    font-size: 12px;
    color: #07f;
}

.gnbListService{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 440px;
    height: 195px;
    background-color: #222426;
    overflow: hidden;
}

.gnbListService a{
    color: #fff;
}

.gnbListService ul{
    height: 145px;
    padding: 30px 0 0 33px;
}

.gnbListService li{
    display: inline-block;
    width: 120px;
    height: 35px;
}

.gnbListService .gnbIcon{
    background: transparent url(/images/set_service.png) 0 0 no-repeat;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 11px;
    height: 15px;
    margin-right: -5px;
}

.gnbListService a:hover .gnbIconService1{background: transparent url(/images/set_service.png) -50px 0 no-repeat;}
.gnbListService a:hover .gnbIconService2{background: transparent url(/images/set_service.png) -50px -50px no-repeat;}
.gnbListService a:hover .gnbIconService3{background: transparent url(/images/set_service.png) -50px -100px no-repeat;}
.gnbListService a:hover .gnbIconService4{background: transparent url(/images/set_service.png) -50px -150px no-repeat;}
.gnbListService a:hover .gnbIconService5{background: transparent url(/images/set_service.png) -50px -200px no-repeat;}
.gnbListService a:hover .gnbIconService6{background: transparent url(/images/set_service.png) -50px -250px no-repeat;}
.gnbListService a:hover .gnbIconService7{background: transparent url(/images/set_service.png) -50px -300px no-repeat;}
.gnbListService a:hover .gnbIconService8{background: transparent url(/images/set_service.png) -50px -350px no-repeat;}
.gnbListService a:hover .gnbIconService9{background: transparent url(/images/set_service.png) -50px -400px no-repeat;}

.gnbListService a:hover{
    color: #07f; 
    transition: all .1s linear;
}

.gnbListService .gnbIconService2{background-position: 0 -50px;}
.gnbListService .gnbIconService3{background-position: 0 -100px;}
.gnbListService .gnbIconService4{background-position: 0 -150px;}
.gnbListService .gnbIconService5{background-position: 0 -200px;}
.gnbListService .gnbIconService6{background-position: 0 -250px;}
.gnbListService .gnbIconService7{background-position: 0 -300px;}
.gnbListService .gnbIconService8{background-position: 0 -350px;}
.gnbListService .gnbIconService9{background-position: 0 -400px;}

.gnbBtAll{
    display: block;
    width: 440px;
    height: 50px;
    padding-top: 17px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.3px;
    background-color: #17191d;
}

.gnbListService .gnbBtAll:hover{
    background-color: #07f;
    color: #fff;
}

#header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
}

#header h1 {
    background-image: url(/images/sprite_210600.png);
    background-position: 0px -402px;
    width: 218px;
    height: 35px;
    position: absolute;
    text-indent: -9999px;
    top: 35px;
    left: 30px;
    z-index: 2;
}

#header h1 a{
    display: block;
    width: 218px;
    height: 35px;
}

#header .header-nav{
    text-align: center;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #dde1e5;
}

.header-nav-wrap{
    display: inline-block;
    margin-left: -100px;
    width: 1200px;
    cursor: pointer;
}

#header .header-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header .header-nav ul li a{
    position: relative;
    font-size: 19px;
    color: #0b0b0c;
    display: inline-block;
    line-height: 100px;
}

.depth2{
    padding: 5px 0;
    color: #5d5d5d;
}

.slide-menu {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    border-bottom: 1px solid #d9dce2;
    display: none;
    margin-top:-1px;
    overflow: hidden;
}

.slide-menu .slide-menu-wrap{
    display: inline-block;
    height: 100%;
}

.slide-menu-wrap >ul>li{
    float: left;
    text-align: left;
    padding-top: 30px;
    height: 100%;
    box-sizing: border-box;
}

#header .nav-cate-wrap >ul>li>a{margin-top: 15px;}


.nav-cate-wrap .nav-cate1{width: 135px;}
.nav-cate-wrap .nav-cate2{width: 158px;}
.nav-cate-wrap .nav-cate3{width: 159px;}
.nav-cate-wrap .nav-cate4{width: 140px;}
.nav-cate-wrap .nav-cate5{width: 131px;}
.nav-cate-wrap .nav-cate6{width: 176px;}
.nav-cate-wrap .nav-cate7{width: 142px;}
.nav-cate-wrap .nav-cate8{width: 110px;}

/* 메인부분 */

.main{
    width: 100%;
}
.noticeBn{
    width: 100%;
    height: 120px;
    background: url(/images/banner.jpg);
    background-position: -335px;
    overflow: hidden;
}

.main-wrapper{
    transition-duration: 3000ms;
    transform: translate3d(0px, 0px, 0px);
}

.swiper-slide{
    text-align: center;
    line-height: 120px;
    font-size: 24px;
    font-weight: 300;
    color:#ffc0d5;
    margin-left: 200px;

}
.swiper-slide strong{
    color: #ffdc78;
    font-weight: 800;
}

/* 1111111111 */

.mainSwiper{
    width: 100%;
    position: relative;
    height: 640px;   
}

.t_left{
    background-position: center 0px;
    background-repeat: no-repeat;
    background-image: url(/images/banner_big_201101_PlayUs_image.jpg);
}
.t_left img{
    margin-left: 124px;
}


/*  */

.quickBar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #fff;
}

.quickBar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1550px;
    height: 50px;
    margin: 30px 0 50px;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
}

.quickBar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 50px;
    font-size: 16px;
    color: #3E3d55;
    border-right: 1px solid #e6e6e9;
}
.quickBar ul li:last-child{
    width:50px ;
}

/*  */

.guide{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 575px;
    margin-top: -50px;
}

.guide header{
    display: flex;
    justify-content: space-between;
    height:50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.con{
    display: flex;
    justify-content: center;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.1);
}

.guide_1{width: 625px;}
.guide_2{width: 594px;}
.guide_3{width: 340px;}
.con1{width:574px;}
.con2{width: 493px;}
.con3{width: 290px;}

.content{
    display: inline-block;
    width: 575px;
}

.select_tab{
    float: left;
    line-height: 70px;
    text-align: center;
    width: 287px;
    height: 70px;
    font-size: 16px;
}

.select_tab .active{
    color: #0b0b0c;
    font-weight: 800;
}

.select_tab a{
    color: #d9dce2;
}


.select_tab:first-child{
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom:3px solid #15d1a9;;
}

.content_item{
    margin-top: 70px;
    height: 454px;
}

.content_item li{
    margin-top: 15px;
    height: 81px;
    border-bottom: 1px solid rgba(0,0,0,.1);

}

.content_item li:last-child{
    border-bottom: 0;
}

.content_item li a{
    line-height: 1.8;
}

.content_item ul{
    overflow: hidden;
}
.category{
    color: #0dcfa6;
    font-size: 15px;
    margin-right:5px;
    font-weight: 500;
}

.tit{font-weight: 500;}
.tit:hover{color: #0dcfa6;}
.desc{
    color: #838290;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thumb img{
    width: 495px;
    height: 278px;
}

.guide_2 section .tit{
    height: 54px;
    font-size: 18px;
    font-weight: 500;
    color: #151432;
    margin-top: 25px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guide_2 .con2 section .desc{
    margin-top: 8px;
    line-height: 1.5;
    height: 84px;
    overflow: hidden;
}

.info{
    padding-top: 50px;
    display: flex;
}

.info .date{
    padding-right: 10px;
    padding-top: 2px;
    font-size: 13px;
    color: #9693a0;
    border-right: 1px solid rgba(0,0,0,.1);
}

.view_count .icon{
    padding-left: 10px;
    width: 12px;
    height: 15px;
}

.view_count .txt{
    padding-left: 5px;
    font-size: 13px;
    color: #9693a0;
}

.profile .content{
    width: 100%;
    height: 525px;
}

.profile .btn_login{
    width: 100%;
    height: 60px;
    background: url(/images/btn_login.png);
}

.profile .before_login{
    margin: 20px 60px;
    width: 100%;
    height: 150px;
    background: url(/images/alert_before_login.png) 0 0 no-repeat;
}

.account{
    background-color: #f9f9fb;
    margin-top: 50px;
}

.account ul li{
    display: flex;
    align-items: center;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e9e9ef;
    padding: 0 18px;
}

.account ul li a{
    width: 100%;
    height: 64px;
    color: #7b7a89;
    font-size: 15px;
}


/* 멀티미디어 */

.multimedia{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    width: 100%;
    height: 230px;
}
.multimedia .guide{
    display: inline-block;
    width: 1560px;
    height: 230px;
    margin: 0 auto;
}

.multimedia header{
    width: 1520px;
    height: 50px;
}
.multimedia header h2{
    width: 1512px;
    font-size: 16px;
    line-height: 50px;
    margin: 0 24px;
}

.multimedia .content{
    display: flex;
    width: 120px;
    height: 180px;
}
.multimedia .content .tabList{
    display:flex;
    text-align: center;
    flex-direction: column;
}

.multimedia .content .tabList a{
    width: 120px;
    height: 45px;
    font-size: 15px;
    color: #7f7e8a;
    line-height: 45px;
    border-bottom: 1px solid #e7e7ea;
}

.content .slides .wrapper{
    display: flex;
    align-items: center;
    width: 1440px;
    /* background-color: red; */
    height: 180px;
}

.content .slides .wrapper .swiper-cont{
    width: 1390px;
    height: 130px;
    overflow: hidden;
}

.content .slides .wrapper .swiper-cont ul{
    display: flex;
}

.content .slides .wrapper .swiper-cont ul li{
    margin-right: 10px;
}

.content .slides .wrapper .swiper-cont img{
    width: 230px;
}